
.basicDetails{
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
}

.personDetailForm{
    flex: 1; 
    margin-right: 20px; 
}

.resumeDetails {
    flex: 1; 
}
.expDetails {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
}

.expDetailsForm {
    flex: 1; 
    margin-right: 20px; 
}



